<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div id="app">

        <ul style="list-style: number;" v-if="randomEmail.length == 10">
            
            <li v-for="email in randomEmail">{{email}} <hr> </li>
        
    
        </ul>







    </div>
    








    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>

</body>
</html>
